@font-face {
  font-family: myFont;
  src: url(../fonts/amsterdam_4/Amsterdam.ttf);
}
.navbar {
  background-color: transparent;
  padding: 50px 100px;
}
.navbar .nav-link {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-weight: 600;
}
.navbar .nav-item {
  padding: 0 80px;
}

.banner {
  background-image: linear-gradient(to bottom, #050101 50%, #1a0000 50%);
  padding: 400px 0 100px;
}
.banner .banner-heading {
  color: white;
  font-size: 95px;
  margin: auto;
  text-align: center;
  font-family: myFont;
  position: relative;
  z-index: 9;
}
.banner .banner-para {
  font-size: 32px;
  color: white;
  max-width: 800px;
  margin: auto;
  padding: 80px 0;
  font-weight: 100;
  line-height: 35px;
  font-style: italic;
}
.banner li {
  list-style: none;
  padding: 0 25px;
}
.banner a {
  display: flex;
}
.banner ul {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.theme {
  background-color: #280000;
  padding: 80px 0;
}

.theme-2 {
  background-color: #280000;
  padding: 80px 0;
}

.off {
  background-color: #380000;
  padding: 100px 0;
  position: relative;
}
.off .off-heading {
  font-size: 235px;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  position: absolute;
  top: 30%;
  left: 20%;
  transform: translateX(-50%, -50%);
}

.pancake {
  background-color: #1a0000;
  padding: 100px 0 100px;
}
.pancake .img-box {
  position: relative;
}
.pancake .pancake-heading {
  font-size: 146px;
  color: white;
  bottom: 40%;
  position: absolute;
  left: 30%;
  letter-spacing: 5px;
  font-family: myFont;
  transform: translateX(-50%, -50%);
}
.pancake .waffle-heading {
  font-size: 146px;
  color: white;
  bottom: 40%;
  position: absolute;
  left: 32%;
  letter-spacing: 5px;
  font-family: myFont;
  transform: translateX(-50%, -50%);
}
.pancake .pancake-para {
  font-size: 27px;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
  max-width: 700px;
  margin: auto;
  text-align: center;
  padding-bottom: 120px;
  font-style: italic;
}
.pancake .pancake-para-2 {
  font-size: 27px;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
  max-width: 700px;
  margin: auto;
  text-align: center;
  padding: 280px 0 20px;
  font-style: italic;
}
.pancake .pan-para {
  position: relative;
}
.pancake .swiper {
  width: auto;
  height: 70%;
}
.pancake .mySwiper {
  position: relative;
}
.pancake .swiper-slide {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pancake .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  padding: 0 350px 0 350px;
}
.pancake .cards {
  padding: 50px 0;
}
.pancake .swiper-button-next::before,
.pancake .swiper-button-next::after {
  display: none;
}
.pancake .swiper-button-prev::before,
.pancake .swiper-button-prev::after {
  display: none;
}
.pancake .img-box {
  position: absolute;
  left: 10%;
  bottom: 5%;
}
.pancake .img-box-2 {
  position: absolute;
  left: 10%;
  bottom: 5%;
}
.pancake .swiper-button-next {
  height: 100px;
  width: 100px;
}
.pancake .swiper-button-prev {
  height: 100px;
  width: 100px;
}

.our-special {
  background-color: #060000;
  padding: 500px 0 100px;
  position: relative;
}
.our-special .our-special-heading {
  font-size: 200px;
  color: white;
  text-align: center;
  font-family: myFont;
  position: absolute;
  top: 8%;
  left: 20%;
  transform: translateX(-50%, -50%);
  padding-top: 100px;
}
.our-special .our-special-para {
  font-size: 125px;
  color: #3c0e00;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: bolder;
  font-style: italic;
  position: absolute;
  top: 30%;
  left: 30%;
  transform: translateX(-50%, -50%);
}
.our-special .our-special-para-2 {
  font-size: 30px;
  font-style: italic;
  color: white;
  text-align: center;
  max-width: 1200px;
  padding: 100px 0;
  font-weight: 100;
}

.about-us .left-card {
  background-color: #280000;
}
.about-us .right-card {
  background-color: #380000;
}
.about-us .about-us-heading {
  color: white;
  font-size: 125px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  max-width: 450px;
  text-align: center;
  padding: 400px 0;
  margin: auto;
}
.about-us .about-us-para {
  color: white;
  font-size: 25px;
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
  max-width: 500px;
  text-align: center;
  padding: 400px 0;
  margin: auto;
}

.open {
  background-color: #0f0303;
  padding: 200px 0;
}
.open .open-heading {
  color: white;
  font-weight: 200;
  font-family: "Montserrat", sans-serif;
  font-size: 32px;
}
.open .open-para {
  color: white;
  font-size: 45px;
  font-family: "Montserrat", sans-serif;
  max-width: 380px;
  font-weight: 800;
  line-height: 60px;
  text-align: center;
  margin: auto;
  font-style: italic;
}
.open .img-box {
  padding: 0 0 80px;
}

.footer {
  background-color: #380000;
  padding: 50px 0;
}
.footer .footer-para {
  color: white;
  font-size: 31px;
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
  margin: 0;
}

@media (max-width: 1919px) and (min-width: 1440px) {
  .navbar {
    background-color: transparent;
    padding: 50px 60px;
  }
  .navbar .nav-link {
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 25px;
    font-weight: 600;
  }
  .navbar .nav-item {
    padding: 0 60px;
  }
  .banner {
    background-image: linear-gradient(to bottom, #050101 50%, #1a0000 50%);
    padding: 300px 0 100px;
  }
  .banner .banner-heading {
    color: white;
    font-size: 80px;
    font-family: myFont;
  }
  .banner .banner-para {
    font-size: 28px;
    color: white;
    max-width: 800px;
    margin: auto;
    padding: 60px 0;
    font-weight: 100;
  }
  .banner li {
    list-style: none;
    padding: 0 15px;
  }
  .banner a {
    display: flex;
  }
  .banner ul {
    display: flex;
    justify-content: center;
  }
  .theme {
    background-color: #280000;
    padding: 60px 0;
  }
  .theme-2 {
    background-color: #280000;
    padding: 60px 0;
  }
  .off {
    background-color: #380000;
    padding: 80px 0;
    position: relative;
  }
  .off .off-heading {
    font-size: 200px;
    color: white;
    font-family: "Montserrat", sans-serif;
    position: absolute;
    bottom: 30%;
    font-weight: bold;
    text-align: center;
    margin: auto;
    top: 30%;
    left: 20%;
    transform: translateX(-50%, -50%);
  }
  .pancake {
    background-color: #1a0000;
    padding: 100px 0 100px;
  }
  .pancake .img-box {
    position: relative;
  }
  .pancake .pancake-heading {
    font-size: 130px;
    color: white;
    bottom: 40%;
    position: absolute;
    left: 30%;
    letter-spacing: 5px;
    font-family: myFont;
    transform: translateX(-50%, -50%);
  }
  .pancake .waffle-heading {
    font-size: 130px;
    color: white;
    bottom: 40%;
    position: absolute;
    left: 35%;
    letter-spacing: 5px;
    font-family: myFont;
    transform: translateX(-50%, -50%);
  }
  .pancake .pancake-para {
    font-size: 20px;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: 100;
    max-width: 700px;
    margin: auto;
    text-align: center;
    padding-bottom: 120px;
  }
  .pancake .pancake-para-2 {
    font-size: 20px;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: 100;
    max-width: 700px;
    margin: auto;
    text-align: center;
    padding: 250px 0 20px;
  }
  .pancake .pan-para {
    position: relative;
  }
  .pancake .swiper {
    width: auto;
    height: 100%;
  }
  .pancake .mySwiper {
    position: relative;
  }
  .pancake .swiper-slide {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .pancake .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    padding: 0 350px 0 350px;
  }
  .pancake .cards {
    padding: 50px 0;
  }
  .pancake .swiper-button-next::before,
  .pancake .swiper-button-next::after {
    display: none;
  }
  .pancake .swiper-button-prev::before,
  .pancake .swiper-button-prev::after {
    display: none;
  }
  .pancake .img-box {
    position: absolute;
    left: 10%;
    bottom: 5%;
  }
  .pancake .img-box-2 {
    position: absolute;
    left: 10%;
    bottom: 5%;
  }
  .our-special {
    background-color: #060000;
    padding: 100px 0 80px;
  }
  .our-special .our-special-heading {
    font-size: 150px;
    color: white;
    text-align: center;
    font-family: myFont;
    top: 8%;
    left: 20%;
    transform: translateX(-50%, -50%);
    padding-top: 100px;
  }
  .our-special .our-special-para {
    font-size: 110px;
    color: #3c0e00;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-style: italic;
    top: 23%;
    left: 25%;
    transform: translateX(-50%, -50%);
    padding-top: 100px;
  }
  .our-special .our-special-para-2 {
    font-size: 30px;
    font-style: italic;
    color: white;
    text-align: center;
    max-width: 1200px;
    padding: 80px 0;
    font-weight: 100;
    line-height: 35px;
  }
  .about-us .left-card {
    background-color: #280000;
  }
  .about-us .right-card {
    background-color: #380000;
  }
  .about-us .about-us-heading {
    color: white;
    font-size: 110px;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    max-width: 450px;
    text-align: center;
    padding: 300px 0;
    margin: auto;
  }
  .about-us .about-us-para {
    color: white;
    font-size: 25px;
    font-family: "Montserrat", sans-serif;
    font-weight: 100;
    max-width: 500px;
    text-align: center;
    padding: 300px 0;
    margin: auto;
  }
  .open {
    background-color: #0f0303;
    padding: 150px 0;
  }
  .open .open-heading {
    color: white;
    font-weight: 200;
    font-family: "Montserrat", sans-serif;
    font-size: 25px;
  }
  .open .open-para {
    color: white;
    font-size: 35px;
    font-family: "Montserrat", sans-serif;
    max-width: 300px;
    font-weight: 800;
    line-height: 60px;
    text-align: center;
    margin: auto;
    font-style: italic;
  }
  .open .img-box {
    padding: 80px 0;
  }
  .footer {
    background-color: #380000;
    padding: 50px 0;
  }
  .footer .footer-para {
    color: white;
    font-size: 25px;
    font-family: "Montserrat", sans-serif;
    font-weight: 100;
  }
}
@media (max-width: 1439px) and (min-width: 1024px) {
  .navbar {
    background-color: transparent;
    padding: 50px 40px;
  }
  .navbar .nav-link {
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-weight: 600;
  }
  .navbar .nav-item {
    padding: 0 40px;
  }
  .navbar .navbar-brand img {
    height: 80px;
  }
  .banner {
    background-image: linear-gradient(to bottom, #050101 50%, #1a0000 50%);
    padding: 250px 0 100px;
  }
  .banner .banner-heading {
    color: white;
    font-size: 70px;
    font-family: myFont;
  }
  .banner .banner-para {
    font-size: 22px;
    color: white;
    max-width: 600px;
    margin: auto;
    padding: 60px 0;
    font-weight: 100;
    line-height: 30px;
  }
  .banner li {
    list-style: none;
    padding: 0 15px;
  }
  .banner a {
    display: flex;
  }
  .banner ul {
    display: flex;
    justify-content: center;
  }
  .banner li img {
    height: 50px;
  }
  .theme {
    background-color: #280000;
    padding: 40px 0;
  }
  .theme-2 {
    background-color: #280000;
    padding: 40px 0;
  }
  .off {
    background-color: #380000;
    padding: 80px 0;
    position: relative;
  }
  .off .off-heading {
    font-size: 150px;
    color: white;
    font-family: "Montserrat", sans-serif;
    position: absolute;
    bottom: 30%;
    font-weight: bold;
    text-align: center;
    margin: auto;
    left: 20%;
    top: 40%;
    left: 20%;
    transform: translateX(-50%, -50%);
  }
  .pancake {
    background-color: #1a0000;
    padding: 100px 0 100px;
  }
  .pancake .img-box {
    position: relative;
  }
  .pancake .pancake-heading {
    font-size: 130px;
    color: white;
    bottom: 50%;
    position: absolute;
    left: 25%;
    letter-spacing: 5px;
    font-family: myFont;
    transform: translateX(-50%, -50%);
  }
  .pancake .waffle-heading {
    font-size: 130px;
    color: white;
    bottom: 50%;
    position: absolute;
    left: 30%;
    letter-spacing: 5px;
    font-family: myFont;
    transform: translateX(-50%, -50%);
  }
  .pancake .pancake-para {
    font-size: 20px;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: 100;
    max-width: 700px;
    margin: auto;
    text-align: center;
    padding-bottom: 60px;
  }
  .pancake .pancake-para-2 {
    font-size: 20px;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: 100;
    max-width: 700px;
    margin: auto;
    text-align: center;
    padding: 150px 0 20px;
  }
  .pancake .pan-para {
    position: relative;
  }
  .pancake .swiper {
    width: auto;
    height: 100%;
  }
  .pancake .mySwiper {
    position: relative;
  }
  .pancake .swiper-slide {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .pancake .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    padding: 0 250px 0 250px;
  }
  .pancake .cards {
    padding: 50px 0;
  }
  .pancake .swiper-button-next::before,
  .pancake .swiper-button-next::after {
    display: none;
  }
  .pancake .swiper-button-prev::before,
  .pancake .swiper-button-prev::after {
    display: none;
  }
  .pancake .img-box {
    position: absolute;
    left: 1%;
    bottom: 5%;
  }
  .pancake .img-box-2 {
    position: absolute;
    left: 1%;
    bottom: 5%;
  }
  .pancake .swiper-button-next {
    height: 50px;
    width: 50px;
  }
  .pancake .swiper-button-prev {
    height: 50px;
    width: 50px;
  }
  .our-special {
    background-color: #060000;
    padding: 100px 0 80px;
  }
  .our-special .our-special-heading {
    font-size: 120px;
    color: white;
    text-align: center;
    font-family: myFont;
    top: 8%;
    left: 15%;
    transform: translateX(-50%, -50%);
    padding-top: 100px;
  }
  .our-special .our-special-para {
    font-size: 80px;
    color: #3c0e00;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-style: italic;
  }
  .our-special .our-special-para-2 {
    font-size: 25px;
    font-style: italic;
    color: white;
    text-align: center;
    max-width: 800px;
    padding: 80px 0;
    font-weight: 100;
    line-height: 25px;
    margin: auto;
  }
  .about-us .left-card {
    background-color: #280000;
  }
  .about-us .right-card {
    background-color: #380000;
  }
  .about-us .about-us-heading {
    color: white;
    font-size: 80px;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    max-width: 440px;
    text-align: center;
    padding: 200px 80px;
    margin: auto;
    line-height: 80px;
  }
  .about-us .about-us-para {
    color: white;
    font-size: 15px;
    font-family: "Montserrat", sans-serif;
    font-weight: 100;
    max-width: 600px;
    text-align: center;
    padding: 200px 80px;
    margin: auto;
  }
  .open {
    background-color: #0f0303;
    padding: 100px 0;
  }
  .open .open-heading {
    color: white;
    font-weight: 200;
    font-family: "Montserrat", sans-serif;
    font-size: 25px;
  }
  .open .open-para {
    color: white;
    font-size: 25px;
    font-family: "Montserrat", sans-serif;
    max-width: 200px;
    font-weight: 800;
    line-height: 30px;
    text-align: center;
    margin: auto;
    font-style: italic;
  }
  .open .img-box {
    padding: 40px 0;
  }
  .footer {
    background-color: #380000;
    padding: 20px 0;
  }
  .footer .footer-para {
    color: white;
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
    font-weight: 100;
  }
}
@media (max-width: 1023px) and (min-width: 768px) {
  .navbar {
    background-color: transparent;
    padding: 50px 40px;
  }
  .navbar .nav-link {
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-weight: 600;
  }
  .navbar .nav-item {
    padding: 0 40px;
  }
  .navbar .navbar-brand img {
    height: 60px;
  }
  .navbar button {
    border: 2px solid white;
  }
  .banner {
    background-image: linear-gradient(to bottom, #050101 50%, #1a0000 50%);
    padding: 200px 0 100px;
  }
  .banner .banner-heading {
    color: white;
    font-size: 60px;
    font-family: myFont;
  }
  .banner .banner-para {
    font-size: 18px;
    color: white;
    max-width: 600px;
    margin: auto;
    padding: 20px 0;
    font-weight: 100;
    line-height: 30px;
  }
  .banner li {
    list-style: none;
    padding: 0 15px;
  }
  .banner a {
    display: flex;
  }
  .banner ul {
    display: flex;
    justify-content: center;
  }
  .banner li img {
    height: 50px;
  }
  .theme {
    background-color: #280000;
    padding: 40px 0;
  }
  .theme-2 {
    background-color: #280000;
    padding: 40px 0;
  }
  .off {
    background-color: #380000;
    padding: 80px 0;
    position: relative;
  }
  .off .off-heading {
    font-size: 130px;
    color: white;
    font-family: "Montserrat", sans-serif;
    position: absolute;
    bottom: 30%;
    font-weight: bold;
    text-align: center;
    margin: auto;
    left: 10%;
    top: 40%;
    transform: translateX(-50%, -50%);
  }
  .pancake {
    background-color: #1a0000;
    padding: 100px 0 100px;
  }
  .pancake .img-box {
    position: relative;
  }
  .pancake .pancake-heading {
    font-size: 100px;
    color: white;
    bottom: 45%;
    position: absolute;
    left: 25%;
    letter-spacing: 5px;
    font-family: myFont;
    transform: translateX(-50%, -50%);
  }
  .pancake .waffle-heading {
    font-size: 100px;
    color: white;
    bottom: 43%;
    position: absolute;
    left: 30%;
    letter-spacing: 5px;
    font-family: myFont;
  }
  .pancake .pancake-para {
    font-size: 20px;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: 100;
    max-width: 700px;
    margin: auto;
    text-align: center;
    padding-bottom: 60px;
  }
  .pancake .pancake-para-2 {
    font-size: 20px;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: 100;
    max-width: 700px;
    margin: auto;
    text-align: center;
    padding: 150px 0 20px;
  }
  .pancake .pan-para {
    position: relative;
  }
  .pancake .swiper {
    width: auto;
    height: 100%;
  }
  .pancake .mySwiper {
    position: relative;
  }
  .pancake .swiper-slide {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .pancake .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    padding: 0 100px 0 100px;
  }
  .pancake .cards {
    padding: 50px 0;
  }
  .pancake .swiper-button-next::before,
  .pancake .swiper-button-next::after {
    display: none;
  }
  .pancake .swiper-button-prev::before,
  .pancake .swiper-button-prev::after {
    display: none;
  }
  .pancake .img-box {
    position: absolute;
    left: 1%;
    bottom: 5%;
  }
  .pancake .img-box-2 {
    position: absolute;
    left: 1%;
    bottom: 5%;
  }
  .pancake .swiper-button-next {
    height: 50px;
    width: 50px;
  }
  .pancake .swiper-button-prev {
    height: 50px;
    width: 50px;
  }
  .our-special {
    background-color: #060000;
    padding: 100px 0 60px;
  }
  .our-special .our-special-heading {
    font-size: 70px;
    color: white;
    text-align: center;
    font-family: myFont;
    position: absolute;
    transform: translateX(-50%, -50%);
    left: 25%;
  }
  .our-special .our-special-para {
    font-size: 70px;
    color: #3c0e00;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-style: italic;
    position: absolute;
    top: 18%;
    left: 25%;
    transform: translateX(-50%, -50%);
    padding-top: 100px;
  }
  .our-special .our-special-para-2 {
    font-size: 20px;
    font-style: italic;
    color: white;
    text-align: center;
    max-width: 800px;
    padding: 80px 0;
    font-weight: 100;
    line-height: 25px;
    margin: auto;
  }
  .about-us .left-card {
    background-color: #280000;
  }
  .about-us .right-card {
    background-color: #380000;
  }
  .about-us .about-us-heading {
    color: white;
    font-size: 60px;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    max-width: 440px;
    text-align: center;
    padding: 200px 60px;
    margin: auto;
  }
  .about-us .about-us-para {
    color: white;
    font-size: 15px;
    font-family: "Montserrat", sans-serif;
    font-weight: 100;
    max-width: 600px;
    text-align: center;
    padding: 200px 60px;
    margin: auto;
  }
  .open {
    background-color: #0f0303;
    padding: 80px 0;
  }
  .open .open-heading {
    color: white;
    font-weight: 200;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
  }
  .open .open-para {
    color: white;
    font-size: 25px;
    font-family: "Montserrat", sans-serif;
    max-width: 200px;
    font-weight: 800;
    line-height: 30px;
    text-align: center;
    margin: auto;
    font-style: italic;
  }
  .open .img-box {
    padding: 40px 0;
  }
  .footer {
    background-color: #380000;
    padding: 20px 0;
  }
  .footer .footer-para {
    color: white;
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
    font-weight: 100;
  }
}
@media (max-width: 767px) and (min-width: 425px) {
  .navbar {
    background-color: transparent;
    padding: 20px 0;
  }
  .navbar .nav-link {
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-weight: 600;
  }
  .navbar .nav-item {
    padding: 0 40px;
  }
  .navbar .navbar-brand img {
    height: 60px;
  }
  .navbar button {
    border: 2px solid white;
  }
  .banner {
    background-image: linear-gradient(to bottom, #050101 50%, #1a0000 50%);
    padding: 200px 0 100px;
  }
  .banner .banner-heading {
    color: white;
    font-size: 60px;
    font-family: myFont;
  }
  .banner .banner-para {
    font-size: 15px;
    color: white;
    max-width: 600px;
    margin: auto;
    padding: 20px 0;
    font-weight: 100;
    line-height: 20px;
  }
  .banner li {
    list-style: none;
    padding: 0 15px;
  }
  .banner a {
    display: flex;
  }
  .banner ul {
    display: flex;
    justify-content: center;
  }
  .banner li img {
    height: 50px;
  }
  .theme {
    background-color: #280000;
    padding: 20px 0;
  }
  .theme-2 {
    background-color: #280000;
    padding: 20px 0;
  }
  .off {
    background-color: #380000;
    padding: 80px 0;
    position: relative;
  }
  .off .off-heading {
    font-size: 80px;
    color: white;
    font-family: "Montserrat", sans-serif;
    position: absolute;
    bottom: 30%;
    font-weight: bold;
    text-align: center;
    margin: auto;
    left: 10%;
    top: 40%;
    transform: translateX(-50%, -50%);
  }
  .pancake {
    background-color: #1a0000;
    padding: 100px 0 100px;
  }
  .pancake .img-box {
    position: relative;
  }
  .pancake .pancake-heading {
    font-size: 60px;
    color: white;
    bottom: 39%;
    position: absolute;
    left: 18%;
    letter-spacing: 5px;
    font-family: myFont;
  }
  .pancake .waffle-heading {
    font-size: 60px;
    color: white;
    bottom: 43%;
    position: absolute;
    left: 30%;
    letter-spacing: 5px;
    font-family: myFont;
  }
  .pancake .pancake-para {
    font-size: 15px;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: 100;
    max-width: 700px;
    margin: auto;
    text-align: center;
    padding-bottom: 60px;
  }
  .pancake .pancake-para-2 {
    font-size: 15px;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: 100;
    max-width: 700px;
    margin: auto;
    text-align: center;
    padding: 80px 0 20px;
    position: relative;
  }
  .pancake .pan-para {
    position: relative;
  }
  .pancake .swiper {
    width: auto;
    height: 100%;
  }
  .pancake .mySwiper {
    position: relative;
  }
  .pancake .swiper-slide {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .pancake .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    padding: 0 50px 0 50px;
  }
  .pancake .cards {
    padding: 50px 0;
  }
  .pancake .swiper-button-next::before,
  .pancake .swiper-button-next::after {
    display: none;
  }
  .pancake .swiper-button-prev::before,
  .pancake .swiper-button-prev::after {
    display: none;
  }
  .pancake .img-box {
    position: absolute;
    left: 1%;
    bottom: 2%;
  }
  .pancake .img-box-2 {
    position: absolute;
    left: 1%;
    top: 10%;
  }
  .pancake .swiper-button-next {
    height: 50px;
    width: 50px;
  }
  .pancake .swiper-button-prev {
    height: 50px;
    width: 50px;
  }
  .our-special {
    background-color: #060000;
    padding: 100px 0 60px;
  }
  .our-special .our-special-heading {
    font-size: 50px;
    color: white;
    text-align: center;
    font-family: myFont;
    top: 2%;
    left: 15%;
    transform: translateX(-50%, -50%);
    padding-top: 100px;
  }
  .our-special .our-special-para {
    font-size: 50px;
    color: #3c0e00;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-style: italic;
    top: 10%;
    left: 15%;
    transform: translateX(-50%, -50%);
    padding-top: 100px;
  }
  .our-special .our-special-para-2 {
    font-size: 15px;
    font-style: italic;
    color: white;
    text-align: center;
    max-width: 800px;
    padding: 40px 0;
    font-weight: 100;
    line-height: 25px;
    margin: auto;
  }
  .open {
    background-color: #0f0303;
    padding: 40px 0;
  }
  .open .open-heading {
    color: white;
    font-weight: 200;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
  }
  .open .open-para {
    color: white;
    font-size: 15px;
    font-family: "Montserrat", sans-serif;
    max-width: 150px;
    font-weight: 800;
    line-height: 30px;
    text-align: center;
    margin: auto;
    font-style: italic;
    padding: 30px 0;
  }
  .open .img-box {
    padding: 10px 0;
  }
  .open img {
    height: 40px;
  }
  .about-us .left-card {
    background-color: #280000;
  }
  .about-us .right-card {
    background-color: #380000;
  }
  .about-us .about-us-heading {
    color: white;
    font-size: 60px;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    max-width: 440px;
    text-align: center;
    padding: 150px 30px;
    margin: auto;
  }
  .about-us .about-us-para {
    color: white;
    font-size: 15px;
    font-family: "Montserrat", sans-serif;
    font-weight: 100;
    max-width: 600px;
    text-align: center;
    padding: 150px 30px;
    margin: auto;
  }
  .footer {
    background-color: #380000;
    padding: 20px 0;
  }
  .footer .footer-para {
    color: white;
    font-size: 15px;
    font-family: "Montserrat", sans-serif;
    font-weight: 100;
  }
}
@media (max-width: 424px) {
  .navbar {
    background-color: transparent;
    padding: 20px 0;
  }
  .navbar .nav-link {
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-weight: 600;
  }
  .navbar .nav-item {
    padding: 0 40px;
  }
  .navbar .navbar-brand img {
    height: 60px;
  }
  .navbar button {
    border: 2px solid white;
    height: 30px;
    width: 30px;
  }
  .banner {
    background-image: linear-gradient(to bottom, #050101 50%, #1a0000 50%);
    padding: 100px 0 50px;
  }
  .banner .banner-heading {
    color: white;
    font-size: 50px;
    font-family: myFont;
  }
  .banner .banner-para {
    font-size: 15px;
    color: white;
    max-width: 600px;
    margin: auto;
    padding: 20px 0;
    font-weight: 100;
    line-height: 20px;
  }
  .banner li {
    list-style: none;
    padding: 0 15px;
  }
  .banner a {
    display: flex;
  }
  .banner ul {
    display: flex;
    justify-content: center;
  }
  .banner li img {
    height: 30px;
  }
  .theme {
    background-color: #280000;
    padding: 20px 0;
  }
  .theme-2 {
    background-color: #280000;
    padding: 20px 0;
  }
  .off {
    background-color: #380000;
    padding: 80px 0;
    position: relative;
  }
  .off .off-heading {
    font-size: 50px;
    color: white;
    font-family: "Montserrat", sans-serif;
    position: absolute;
    bottom: 40%;
    font-weight: bold;
    text-align: center;
    margin: auto;
    left: 15%;
    top: 40%;
    transform: translateX(-50%, -50%);
  }
  .pancake {
    background-color: #1a0000;
    padding: 100px 0 100px;
  }
  .pancake .img-box {
    position: relative;
  }
  .pancake .pancake-heading {
    font-size: 40px;
    color: white;
    bottom: 45%;
    position: absolute;
    left: 25%;
    letter-spacing: 5px;
    font-family: myFont;
    transform: translateX(-50%, -50%);
  }
  .pancake .waffle-heading {
    font-size: 40px;
    color: white;
    bottom: 43%;
    position: absolute;
    left: 30%;
    letter-spacing: 5px;
    font-family: myFont;
    transform: translateX(-50%, -50%);
  }
  .pancake .pancake-para {
    font-size: 15px;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: 100;
    max-width: 700px;
    margin: auto;
    text-align: center;
    padding-bottom: 60px;
  }
  .pancake .pancake-para-2 {
    font-size: 15px;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: 100;
    max-width: 700px;
    margin: auto;
    text-align: center;
    padding: 80px 0 20px;
    position: relative;
  }
  .pancake .pan-para {
    position: relative;
  }
  .pancake .swiper {
    width: auto;
    height: 100%;
  }
  .pancake .mySwiper {
    position: relative;
  }
  .pancake .swiper-slide {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .pancake .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    padding: 0 50px 0 50px;
  }
  .pancake .cards {
    padding: 50px 0;
  }
  .pancake .swiper-button-next::before,
  .pancake .swiper-button-next::after {
    display: none;
  }
  .pancake .swiper-button-prev::before,
  .pancake .swiper-button-prev::after {
    display: none;
  }
  .pancake .img-box {
    position: absolute;
    left: 1%;
    bottom: 2%;
  }
  .pancake .img-box-2 {
    position: absolute;
    left: 1%;
    top: 10%;
  }
  .pancake .swiper-button-next {
    height: 20px;
    width: 20px;
  }
  .pancake .swiper-button-prev {
    height: 20px;
    width: 20px;
  }
  .our-special {
    background-color: #060000;
    padding: 100px 0 60px;
  }
  .our-special .our-special-heading {
    font-size: 50px;
    color: white;
    text-align: center;
    font-family: myFont;
    top: 2%;
    left: 10%;
    transform: translateX(-50%, -50%);
    padding-top: 100px;
  }
  .our-special .our-special-para {
    font-size: 50px;
    color: #3c0e00;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-style: italic;
    top: 10%;
    left: 10%;
    transform: translateX(-50%, -50%);
    padding-top: 100px;
  }
  .our-special .our-special-para-2 {
    font-size: 15px;
    font-style: italic;
    color: white;
    text-align: center;
    max-width: 800px;
    padding: 40px 0;
    font-weight: 100;
    line-height: 25px;
    margin: auto;
  }
  .open {
    background-color: #0f0303;
    padding: 40px 0;
  }
  .open .open-heading {
    color: white;
    font-weight: 200;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
  }
  .open .open-para {
    color: white;
    font-size: 15px;
    font-family: "Montserrat", sans-serif;
    max-width: 150px;
    font-weight: 800;
    line-height: 30px;
    text-align: center;
    margin: auto;
    font-style: italic;
    padding: 30px 0;
  }
  .open .img-box {
    padding: 10px 0;
  }
  .open img {
    height: 40px;
  }
  .about-us .left-card {
    background-color: #280000;
  }
  .about-us .right-card {
    background-color: #380000;
  }
  .about-us .about-us-heading {
    color: white;
    font-size: 40px;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    max-width: 440px;
    text-align: center;
    padding: 50px 30px;
    margin: auto;
    order: 1;
  }
  .about-us .about-us-para {
    color: white;
    font-size: 15px;
    font-family: "Montserrat", sans-serif;
    font-weight: 100;
    max-width: 600px;
    text-align: center;
    padding: 50px 30px;
    margin: auto;
    order: 2;
  }
  .footer {
    background-color: #380000;
    padding: 20px 0;
  }
  .footer .footer-para {
    color: white;
    font-size: 15px;
    font-family: "Montserrat", sans-serif;
    font-weight: 100;
  }
}/*# sourceMappingURL=style.css.map */